{% extends "base.html.twig" %}

{% block title %}
	Créer nouvelle catégorie
{% endblock %}

{% block body %}
	<h1>Créer une catégorie</h1>
	{{form_start(formView)}}

	{{form_widget(formView)}}

	<div class='text-center mt-4'>
		<button type="submit" class="btn btn-warning mt-4">
			<i class="fas fa-save">
				Enregistrer
			</i>
		</button>
	</div>

	{{form_end (formView)}}
{% endblock %}
